<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.fa7.projetofinal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.edu.fa7.projetofinal.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.fa7.projetofinal.ListaComprasActivity"
            android:label="@string/title_activity_lista_compras" >
        </activity>
        <activity
            android:name="br.edu.fa7.projetofinal.CadastrarComprasActivity"
            android:label="@string/title_activity_cadastrar_compras" >
        </activity>
    </application>

</manifest>
